
      <!--  CONTENT -->
  <br>
  <br>

      <div class="col-md-12 text-center">
        <h1>Titre de l'investissement</h1>
        <p>Pour découvrir les océans autrement et flotter sans aller dans l’espace, tout ça en restant sur notre planète !</p>
        <span class="BPDUh"></span>
        <br>
      </div>

<div class="container">
    <div class="row investment-title">

      <div class="col-8">
        <%= image_tag("Image_test.jpg", class: "image-invests") %>
      </div>

      <div class="col-4">
        <div class="d-flex">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <div class="align-self-center ml-3"><h4><strong>Name</strong></h4></div>
        </div>
        <h3 class="mt-5">Titre de l'investissement</h3>
        <p>Puncline</p>
        <button type="button" class="btn-product w-100">Participer à ce groupement</button>

      </div>
    </div>

</div>

<div class="exp-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="left-element">
          <div class="exp-photo">

          </div>
          <div class="exp-desc">
            <h2>Ce que vous allez faire</h2>
            <p class="content">xxx</p>
          </div>
          <div class="exp-char">
            <h2>Qui vas tu aider ?</h2>
            <div class="char">

            </div>
            <p>xxx</p>
          </div>

        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="right-element">
          <div class="day-left">

              <div class="btn btn-product btn-primary" style="width: 100%;">
          </div>
          <h1>h1</h1>
          <p>PP</p>
          <div id="prod"class="key">
            <ul>
              <li>icone 1</li>
              <li>Une campagne</li>
              <li>icone 2</li>
              <li>Un gagnant tiré au sort</li>
              <li>icone 3</li>
              <li>Un don fait à une cause</li>
            </ul>
          </div>
        </div>
        XXX
          <div class="card card-product">
            <div class="card-description product">
              <div class="icon">
              </div>
              <span>XXX<br>tickets</span>
              <hr class="product">
              <p class="ticket-number">XX</p>

                <span class="cross">+</span><br>

                <br><br>
                <p>XX<br>
                XX</p>

              <p>Soit un coût réel de <strong>XX</strong> après impôts</p>
            </div>
          </div>

      </div>
    </div>
  </div>
