
  <div class="container-fluid">
      <!--  CONTENT -->

  <br>
  <br>
    <div class="row investment-title">
      <div class="col-md-12 text-center">
        <h1>Titre de l'investissement</h1>
        <p>Puncline</p>
      </div>
    </div>
    <div class="row investment-title">
      <div class="col-8 investment-photo">
        <div></div>
        <img src="../assets/Image_test.jpg" id="img-test-show" alt="">
      </div>
      <div class="col-4">
        <h1>Titre de l'investissement</h1>
        <p>Puncline</p>
        <button type="button" class="btn btn-outline-danger">
          Participer à ce groupement</button>
      </div>
    </div>

  </div>

