
  <div class="container">
      <!--  CONTENT -->
  <br>
  <br>
    <div class="row investment-title">
      <div class="col-md-12 text-center">
        <h1>Titre de l'investissement</h1>
        <p>Pour découvrir les océans autrement et flotter sans aller dans l’espace, tout ça en restant sur notre planète !</p>
      </div>
    </div>

    <div class="row investment-title">

      <div class="col-8 investment-photo">
      </div>

      <div class="col-4">
        <h1>Titre de l'investissement</h1>
        <p>Puncline</p>
        <button type="button" class="btn btn-outline-danger w-100">Participer à ce groupement</button>
      </div>
    </div>

  </div>

