.image-invests {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 8px;
    &:hover {
      box-shadow: none;
    }
  }

.image-wine {
  width: 25px;
}

.image-money {
  width: 60px;
}

.image-domaine {
  width: 50px;
}

.image-money2 {
  width: 50px;
}
.image-ticket {
  width: 80px;
}

.image-project {
  width: 40px;
}

.avatar-large-invest {
    width: 50px;
    border-radius: 100%;
}
.title-invstment {
  color: #a23e48;
}

.BPDUh {
    display: block;
    width: 1.875rem;
    height: 0.25rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(34, 34, 34);
    margin: auto;
}


.btn-investment {

  color: white;
  width: 70%;
  border-radius: 15px;
  font-size: 18px;
  background-color: #a23e48;
  border: 0;
  padding: 10px 30px;
  margin: 20px 0 10px 0;
  &:hover {
    background-color: darken(#a23e48, 4%);
    &:before {
      opacity: 0;
      width:100%;
      height:20%;
      position:absolute;
      content:'';
      bottom:0;
      z-index:0;
      animation: payment 1s cubic-bezier(.23,.74,.38,.85);
      transform:rotate(45deg);
      background-color: rgba(255,255,255,0.5);
    }
  }
  &:focus {
    background-color: #a23e48 !important;
  }
}

.banner-investment {
  background-color: #a23e48;
  padding-top: 65px;
}

.key {
  background-color: white;
  margin: 20px 0 0px 0;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    border: 1px solid #dedede;
    padding: 12px;
    border-radius: 0px;

    li {
      padding: 10px;
      font-weight: bold;
      padding: 0 5px;
      font-size: 14px;
      line-height: 15px;
    }
    svg {
      width: 51px;
    }
  }
}

 .share-btn {
    position: absolute;
    background-color: $pink;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    transition: all .4s cubic-bezier(.3, 0, 0, 1.3);
    overflow: hidden;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

#filter {
  width: 350px;
  margin-left: 10px;
}
