.image-invests {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 8px;
    &:hover {
      box-shadow: none;
    }
  }

.image-wine {
  width: 20px;
}

.image-money {
  width: 45px;
}

.image-domaine {
  width: 50px;
}

.image-money2 {
  width: 45px;
}
.image-ticket {
  width: 70px;
}

.image-project {
  width: 40px;
}

.avatar-large-invest {
    width: 50px;
    border-radius: 100%;
}
.title-invstment {
  color: #a23e48;
}

.card-red {
  border: solid 1px #a23e48;
}

// Basic Button Style
.btn-invest-test {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #a23e48;
  border-radius: 0.6em;
  color: #a23e48 !important;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  margin: 15px;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;


  &:hover,
  &:focus {
    color: white !important;
    outline: 0;
  }
}

//BUTTON 1
.btn-invest-first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #a23e48 inset;
  }
}


.BPDUh {
    display: block;
    width: 1.875rem;
    height: 0.25rem;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(34, 34, 34);
    margin: auto;
}

.wine-bio {
  width: 90px;
}

.groupe-progress {
  border: solid 1px rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 15px 15px;
  margin-top: 20px;
}

.avatar-vigneron {
  width: 65px;
  height: 65px;
}


.btn-investment {

  color: white !important;
  width: 70%;
  border-radius: 5px;
  font-size: 12px;
  background-color: #a23e48;
  border: 0;
  padding: 10px 30px;
  margin: 20px 0 10px 0;
  &:hover {
    background-color: darken(#a23e48, 4%);
    &:before {
      opacity: 0;
      width:100%;
      height:20%;
      position:absolute;
      content:'';
      bottom:0;
      z-index:0;
      animation: payment 1s cubic-bezier(.23,.74,.38,.85);
      transform:rotate(45deg);
      background-color: rgba(255,255,255,0.5);
    }
  }
  &:focus {
    background-color: #a23e48 !important;
  }
}

.banner-investment {
  background-color: #a23e48;
  padding-top: 65px;
}

.key {
  background-color: white;
  margin: 20px 0 0px 0;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    border: 1px solid #dedede;
    padding: 12px;
    border-radius: 0px;

    li {
      padding: 10px;
      font-weight: bold;
      padding: 0 5px;
      font-size: 14px;
      line-height: 15px;
    }
    svg {
      width: 51px;
    }
  }
}

 .share-btn {
    position: absolute;
    background-color: $pink;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    transition: all .4s cubic-bezier(.3, 0, 0, 1.3);
    overflow: hidden;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

#filter {
  width: 350px;
  margin-left: 10px;
}


.glasses {
  margin-left: 150px;
}
