<div class="bodyhomepage">
  <div>
        <div class="container-top">
          <div class="description">
            <h1>Investissez simplement dans le viticole avec <span id="banner-typed-text"></span> </h1>
          </div>
                <div class="arrow">
                <span></span>
                <span></span>
                </div>
        </div>
<hr>

        <div class="container">
                  <div class="container-infos">
                      <div class="parcelle">
                        <h2>Possédez une parcelle de vigne en France</h2>
                      </div>
                      <div class="avantages">
                        <h2>Accédez aux avantages financiers de l’investissement viticole ; défiscalisation, exonérations au titre de l’IFI*, etc.</h2>
                      </div>
                      <div class="vigneron">
                        <h2>Retrouvez le vigneron pour une dégustation inoubliable de vos bouteilles.</h2>
                      </div>
                  </div>
         </div>

              <hr>

        <div class="footer">
        <div class="footercoopyright">
          <img height="30" src="https://image.flaticon.com/icons/svg/1691/1691089.svg" alt="icone">
          © 2020 Mon Vignoble, Inc. All rights reserved
        </div>
        <div class="footerlinks">
          <a href="#">
            <i class="fab fa-instagram">
            </i>
          </a>
          <a href="#">
            <i class ="fab fa-facebook">
            </i>
          </a>
          <a href="#">
            <i class ="fab fa-twitter">
            </i>
          </a>
        </div>

    </div>
  </div>
</div>
