<div class="bodyhome">
  <div class="bodyhomepage">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="appear.js"></script>
    <script src="folder_name/jquery-1.12.0.js"></script>
    <div>
          <div class="container-top">

            <div class="description">
              <h1>Investissez simplement dans le viticole avec <span id="banner-typed-text"></span> </h1>
            </div>
                  <a href="#intro" class="arrow" >
                  <span></span>
                  <span></span>
                  <span></span>
                  </a>
              <a class="btn btn-flat" href="http://localhost:3000/investments">Trouver votre investissement</a>
          </div>
    </div>
  </div>

          <div class="container-home" id="intro" data-aos="fade-up"
                            data-aos-offset="100"
                            data-aos-delay="100"
                            data-aos-duration="300"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center">
                    <div>
                        <div class="parcelle">
                          <h3 class="h3home">Possédez une parcelle de vigne en France</h3>
                          <img src="https://image.flaticon.com/icons/svg/1875/1875383.svg" id="vigne">
                        </div>
                        <div class="avantages">
                          <img src="https://image.flaticon.com/icons/svg/2372/2372442.svg" id="vigne2">
                          <h3 class="h3home">Accédez aux avantages financiers de l’investissement viticole ; défiscalisation, exonérations au titre de l’IFI*, etc.</h3>
                        </div>
                        <div class="vigneron">
                          <h3 class="h3home">Retrouvez le vigneron pour une dégustation inoubliable de vos bouteilles.</h3>
                          <img src="https://image.flaticon.com/icons/svg/2372/2372261.svg" id="vigne3">
                        </div>
                    </div>
                  <div>
                    <a class="arrow2" >
                    <span></span>
                    <span></span>
                    <span></span>
                    </a>
                  </div>
           </div>

                <hr>


            <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="superposition">
               <div>
                <img src="https://images.unsplash.com/photo-1538587546102-4d5ed7cdb129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" id="image1" alt="">
                <img src="https://images.unsplash.com/photo-1565935120968-2536840675a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" id="image2" alt="">
              </div>
            <div class="unesurlautre">
                  <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="belles-vignes">
                    <h3 class="h3home">Accédez à nos plus belles vignes Françaises ; La Bourgogne, Le Bordelais, le Rhônes, le Jura...</h3>
                  </div>
                  <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="choix">
                    <h3 class="h3home">Nous vous accompagnons dans votre choix d’investissement viticole et dans la création de votre GFV‎*. </h3>
                  </div>
            </div>
            </div>

              <hr>

            <div class="vignerons">
              <div class="infos-vigneron">
                <h3 class="h3home">Nos vignerons sont des passionnés, et cherchent à partager cette experience humaine avec vous.</h3>
                <a class="btn btn-flat" id="btn-vigneron" href="#">Rejoindre un groupe d'investisseurs</a>
              </div>
              <div class="rond">
                <img src="https://www.avenuedesvins.fr/modules/leoblog/views/img/b/b-jargonvigneron.jpg" id="image-vigneron"alt="">
              </div>
            </div>

              <hr>

          <div class="footer">
          <div class="footercoopyright">
            <img height="30" src="https://image.flaticon.com/icons/svg/1691/1691089.svg" alt="icone">
            © 2020 Mon Vignoble, Inc. All rights reserved
          </div>
          <div class="footerlinks">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
            <a href="#">
              <i class ="fab fa-facebook">
              </i>
            </a>
            <a href="#">
              <i class ="fab fa-twitter">
              </i>
            </a>
          </div>

      </div>
    </div>
   </div>
  <div>
</div>
