<div class="bodyhomepage">
  <div>
        <div class="container-top">
          <a class="btn btn-flat" href="#">ACCEDEZ À NOS VIGNOBLES</a>
        </div>

        <div class="container">
          <div class="description">
            <h1>Investissez simplement dans le viticole avec <span id="banner-typed-text"></span> </h1>
          </div>
             <hr>
        </div>

        <div class="container infos">
          <h2>Possédez une parcelle de vigne en France</h2>
        </div>


  </div>
</div>
