<div class="bodyhome">
  <div class="bodyhomepage">
    <div>
          <div class="container-top">

            <div class="description">
              <h1>Devenez propriétaire de vignes avec <span id="banner-typed-text"></span> </h1>
            </div>
                  <a href="#intro" class="arrow" >
                  <span></span>
                  <span></span>
                  <span></span>
                  </a>
                      <div class="container-fluid">

                                <a class="btn blob-btn" id="trouver" href="/investments">
                                  <p>Trouver un investissement</p>
                                  <span class="blob-btn__inner">
                                    <span class="blob-btn__blobs">
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                    </span>
                                  </span>
                                </a>
                                <br/>
                              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                  <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                  </filter>
                                </defs>
                              </svg>


                              <a class="btn blob-btn" id="creer" href="groups/new">
                                  <p>Créer votre groupe</p>
                                  <span class="blob-btn__inner">
                                    <span class="blob-btn__blobs">
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                      <span class="blob-btn__blob"></span>
                                    </span>
                                  </span>
                                </a>
                                <br/>
                              <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                  <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                  </filter>
                                </defs>
                              </svg>
                      </div>
    </div>
  </div>

          <div class="container-home" id="intro" data-aos="fade-up"
                            data-aos-offset="100"
                            data-aos-delay="100"
                            data-aos-duration="300"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center">
                    <div class="infosdelahome">
                        <div class="parcelle">
                          <h3 class="h3home">Possédez une parcelle de vignes en France</h3>
                          <img src="https://image.flaticon.com/icons/svg/1875/1875383.svg" id="vigne">
                        </div>
                        <div class="avantages">
                          <img src="https://image.flaticon.com/icons/svg/2372/2372442.svg" id="vigne2">
                          <h3 class="h3home">Bénéficiez d'un investissement alliant plaisir et rendement</h3>
                        </div>
                        <div class="vigneron">
                          <h3 class="h3home">Retrouvez le vigneron pour une dégustation inoubliable des cuvées du domaine</h3>
                          <img src="https://image.flaticon.com/icons/svg/2372/2372261.svg" id="vigne3">
                        </div>
                    </div>
                  <div>
                    <a class="arrow2" >
                    <span></span>
                    <span></span>
                    <span></span>
                    </a>
                  </div>
           </div>

                <hr>


            <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="superposition">
               <div>
                <img src="https://images.unsplash.com/photo-1538587546102-4d5ed7cdb129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" id="image1" alt="">
                <img src="https://images.unsplash.com/photo-1565935120968-2536840675a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" id="image2" alt="">
              </div>
            <div class="unesurlautre">
                  <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="belles-vignes">
                    <h3 class="h3home">Accédez à nos plus belles régions viticoles : la Bourgogne, le Bordelais, le Rhône, la Champagne...</h3>
                  </div>
                  <div data-aos="fade-up"
                            data-aos-offset="80"
                            data-aos-delay="30"
                            data-aos-duration="600"
                            data-aos-easing="ease-in-out"
                            data-aos-mirror="true"
                            data-aos-once="false"
                            data-aos-anchor-placement="top-center" class="choix">
                    <h3 class="h3home">Nous vous accompagnons dans votre choix d’investissement viticole et dans la création de votre GFV (Groupement Foncier Viticole) </h3>
                  </div>
            </div>
            </div>

              <hr>

            <div class="vignerons">
              <div class="infos-vigneron">
                <h3 class="h3home">Nos vignerons sont des passionnés, et cherchent à partager cette experience humaine avec vous</h3>
              </div>
              <div class="rond">
                <img src="https://www.avenuedesvins.fr/modules/leoblog/views/img/b/b-jargonvigneron.jpg" id="image-vigneron"alt="">
              </div>
            </div>

              <hr>

          <div class="footer">
          <div class="footercoopyright">
            <img height="30" src="https://image.flaticon.com/icons/svg/1691/1691089.svg" alt="icone">
            © 2020 Mon Vignoble, Inc. All rights reserved
          </div>
          <div class="footerlinks">
            <a href="#">
              <i class="fab fa-instagram">
              </i>
            </a>
            <a href="#">
              <i class ="fab fa-facebook">
              </i>
            </a>
            <a href="#">
              <i class ="fab fa-twitter">
              </i>
            </a>
          </div>

      </div>
    </div>
   </div>
  <div>
</div>
