.btn-flat {
  color: white;
  border-radius: 4px;
  background: #A43D46;
  transition: background 0.3s ease;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px 15px 5px #000000;
  font-weight: bold;
  text-align: center;
  padding: 20px 9px 10px 9px;
}

.btn-info > a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
