.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #A43D46;
  transition: background 0.3s ease;
  width: 300px;
  height: 70px;
  box-shadow: 5px 5px 15px 5px #000000;
  vertical-align: center;
  font-weight: bold;
  text-align: center;
  padding: 20px 9px 10px 9px;
}
