.group-block {
  background-color: white;
  width: 100%;
  margin: 20px 10px;
}

.group-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.cards-top {
  display: flex;
  flex-wrap: wrap;
  justify-content : space-around;
  padding: 0 10px;
}

.card-top {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.card-top > img {
  border-radius: 5px;
}

.card-top h2 {
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0;
}

.card-top p {
  font-size: 12px;
  padding: 5px 0;
  opacity: .7;
  margin: 0;
}


.card-top .card-top-infos {
  padding: 16px;
  width: 200px;
  display: flex;
}

.card-top .card-top-pricing {
  padding: 16px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


