.title-page {
  padding: 10px 40px;
  font-size: 24px;
  text-align: center;
  background-color : #a43d46;
  font-weight: bold;
  color: white;
  padding-top: 65px;
}

.title-page-result {
  padding: 10px 40px;
  font-size: 24px;
  text-align: left;
}

.results-container {
  display: flex;
}

#filter {
  width: 300px;
  position: sticky;
  top: 0;
  background-color: #a43d46;
}

.cards-result {
  flex-grow: 1;
  padding: 0 20px;
  width: 100%;
}

.card-result {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.card-result > img {
  border-radius: 5px;
}

.card-result h2 {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
  margin: 0;
}

.card-result p {
  font-size: 12px;
  padding: 5px 0;
  opacity: .7;
  margin: 0;
}

.card-result-text {
  display: flex;
}

.card-result .card-result-infos {
  padding: 16px;
  width: 300px;
}

.card-result .card-result-pricing {
  padding: 16px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
