.title-page {
  padding: 10px 40px;
  font-size: 24px;
  text-align: center;
  background-color : #a43d46;
  font-weight: bold;
  color: white;
  padding-top: 65px;
}

.body-investment {
  background-color: rgb(240, 240, 240);
}

.title-page-result {
  padding: 10px 40px;
  font-size: 24px;
  text-align: left;
}

.results-container {
  display: flex;
}

#filter {
  position: sticky;
  top: 0;
  background-color: #ECECEC;
}


.card-result2 {

  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.4);
  transition: 0.6s;
  margin-top: 10px;
  padding: 13px;
  margin-left: 23px;
  margin-right: 23px;
}


.card-result2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0.2,0.8);
}


.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 34px;
  }

.card-header {
  display: flex;
  justify-content: space-between;
}

.match_chiffre {
  padding: 12px;
}

#btn-card {
  color: white;
}

.infos-text {
  padding: 12px;
}

.producteur {
  font-style: italic;
  color: #696969;
}
.region-name {
  font-weight: bold;
}

.price {
  font-weight: bold;
}

.nb-parts {
  color: green;
  font-weight: bold;
}


.cards-result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-result{
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

a.btn-bot-green {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #698F3F;
  border-radius: 0.6em;
  color: #A23E48;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.3em 0.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: ‘Montserrat’, sans-serif;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

a.btn-bot-green:hover {
  background-color: #698F3F;
  box-shadow: 0 0 40px 40px #698F3F inset;
  color: white;
  text-decoration: none;
  outline: 0;
}

#matching-id {
  color:green;
}

