.title-page {
  padding: 10px 40px;
  font-size: 24px;
  text-align: center;
  background-color : #a43d46;
  font-weight: bold;
  color: white;
  padding-top: 65px;
}

.body-investment {
  background-color: rgb(240, 240, 240);
}

.title-page-result {
  padding: 10px 40px;
  font-size: 24px;
  text-align: left;
}

.results-container {
  display: flex;
}

#filter {
  position: sticky;
  top: 0;
  background-color: #ECECEC;
}

.cards-result {
  flex-grow: 1;
  width: 100vw;
  padding: 22px;
}

.card-result {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.card-result > img {
  border-radius: 5px;
}

.card-result h2 {
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-right: 50px;
  position: relative;
}

.card-result p {
  font-size: 12px;
  padding: 5px 0;
  opacity: .7;
  margin: 0;
}

.card-result .card-result-infos {
  padding: 12px;
  width: 200px;
}

.card-result .card-result-pricing {
  padding: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  position: relative;
  right: 20px;
}

.card-result .number_matching {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 155px;
  top: -203px;
}


.card-result:hover {
-webkit-transform: scale(1.03);
  -webkit-transition:all 1.2s ease-out;
  -moz-transform: scale(1.7);
  -moz-transition:all 1.2s ease-out;
  -ms-transform: scale(1.7);
  -ms-transition:all 1.2s ease-out;
  -o-transform: scale(1.7);
  -o-transition:all 1.2s ease-out;
  transform: scale(1.03);
  transition:all 1.2s ease-out;
}


.numbermatch h2 {
  margin-left: 145px;
}


.cards-result {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-result {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-result {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-result {
    grid-template-columns: 1fr 1fr;
  }
}

.infos-flex {
  display: flex;
  justify-content: center;
  align-content: center;
}
