.description {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative; bottom: 90px;
  background: transparent;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 0px;
  color: white;
}

.bodyhomepage {
  background: white;
}
