.footer {
  background-color: white;
  color: black;
  bottom: 0;
  width: 100%;
  padding: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 113px;
  padding-top: 50px;
  padding: 0px 10px;
  margin-bottom: 0px;
}

.footercoopyright {
  margin-left: 40px;
  color : #7C7C7C;
}

.footerlinks {
  margin-right: 30px;
  padding: 40px;
  font-size: 25px;
}
