.navbar-lewagon {
  justify-content: space-between;
  background:rgba(255,255,255,.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}
